<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="modifyWorkbench"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.application"
            name="Modify Running Workbench">
         <property
               name="appName"
               value="Modify Running Workbench">
         </property>
         <property
               name="applicationXMI"
               value="/org.eclipse.e4.demo.modifier/xmi/modifyWorkbench.xmi">
         </property>
      </product>
   </extension>
   <extension
         id="ModelViewer"
         name="Model Viewer"
         point="org.eclipse.e4.workbench.model">
      <model
            parentID="Horizontal Sash[right]"
            location="xmi/modelViewer.xmi">
      </model>
   </extension>

</plugin>
