<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/e4_default.css"
            id="org.eclipse.e4.demo.simpleide.theme"
            label="Default Theme">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.demo.simpleide.theme.gtk"
            label="GTK Theme">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_mac.css"
            id="org.eclipse.e4.demo.simpleide.theme.mac"
            label="Mac Theme">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_win7.css"
            id="org.eclipse.e4.demo.simpleide.theme.win7"
            label="Win7 Theme">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_blu.css"
            id="org.eclipse.e4.demo.simpleide.theme.winxp.blu"
            label="WinXP Blue Theme">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_olv.css"
            id="org.eclipse.e4.demo.simpleide.theme.winxp.olv"
            label="WinXP Olive Theme">
      </theme>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="SimpleIDE">
         <property
               name="appName"
               value="SimpleIDE">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.demo.simpleide/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="org.eclipse.e4.demo.simpleide.theme">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.e4.demo.simpleide/icons/css/">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <snippet
            uri="xmi/components.e4xmi">
      </snippet>
   </extension>

</plugin>
