html {
  overflow-x: hidden; // hack to get rid of horizontal scrollbar
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#header {
    margin: 0;
	width: 100%;
	height: 36px;
	background: url(images/header-top.png) 0 0 repeat-x;
    padding-left: 5px;
    padding-top: 5px;
}

#saveButton {
	margin-right: 10px;
	width: 80px;
	float: right;
	visibility: hidden;
}

#saveButton input {
	width: 100%;
	font-weight:bold;
	color: #316ac5;
}

h1 {
	font-size:1.5em;
	font-weight:bold;
	color: #316ac5;
	line-height: 36px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #316ac5;
	margin: 0;
}

.pane {
    margin: 10px;
}

.sectionTop, .sectionTop2 {
    background: url(images/section-middle-top.png) 0 0 repeat-x;
}

.sectionTL {
    background: url(images/section-left-top.png) 0 0 no-repeat;
}

.sectionTR {
    background: url(images/section-right-top.png) 100% 0 no-repeat;
    padding-left: 5px;
    padding-top: 3px;
}

.sectionTop2 {
	margin-top: 2em;
}

.soria .dijitSplitterV .dijitSplitterThumb {
	background: #FFFFFF;
}

.soria .dijitSplitterV {
	background: #FFFFFF;
}

#tree {
	margin-right: 9em;
	overflow-x: hidden;
}

#treeButtons br {
	line-height: 0.5em;
}

#treeButtons {
	margin: 0;
	padding: 0;
	float: right;
	width: 9em;
}

#treeButtons .contentButton {
	width: 8.5em;
	margin: 0;
	margin-bottom: 3px;
	font-size: 1em;
}

.categoryItem {
	background: url(images/category_obj.gif);
}

.featureItem {
	background: url(images/feature_obj.gif);
}

#categoryProperties {
	display: none;
}

#featureProperties {
	display: none;
}

.fieldLabel {
	color: #316ac5;
	width: 6em;
	float: left;
	margin-top: 4px;
}

.fieldText {
	margin-left: 6em;
	padding: 2px;
}

.longfieldLabel {
	color: #316ac5;
	width: 9.5em;
	float: left;
	margin-top: 4px;
}

.longfieldText {
	margin-left: 9.5em;
	padding: 2px;
}

.fieldText input {
	width: 100%;
}

.longfieldText input {
	width: 100%;
}

.fieldText textarea {
	width: 100%;
}