<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.application"
            name="Legacy Workbench">
         <property
               name="appName"
               value="Legacy Workbench">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.ui.examples.legacy.workbench/Application.xmi">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.services">
      <servicefactory
            class="org.eclipse.e4.ui.examples.legacy.workbench.WorkspaceValue">
         <service
               api="org.eclipse.core.resources.IWorkspace">
         </service>
      </servicefactory>
   </extension>

</plugin>
