<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.e4.ui.examples.legacy.workbench.TestPerspectiveFactory"
            id="org.eclipse.e4.ui.examples.legacy.workbench.perspective"
            name="Legacy Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="e4 Compatibility Platform">
          <property name="windowImages" value="eclipse.gif,eclipse32.gif,eclipse48.gif"/> 
          <property name="aboutImage" value="eclipse_lg.gif"/> 
         <property
               name="appName"
               value="e4 Compatibility Platform">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.e4.ui.examples.legacy.workbench/css/webby.css">
         </property>
         <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>                
      </product>
   </extension>
   	<extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.e4.ui.examples.legacy.workbench.product">
      </introProductBinding>
    </extension>
    <extension
          point="org.eclipse.ui.splashHandlers">
       <splashHandler
             class="org.eclipse.e4.ui.examples.legacy.workbench.AnimationSplashHandler"
             id="org.eclipse.e4.ui.examples.legacy.workbench.splashHandlers.browser">
       </splashHandler>
    </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.e4.ui.category"
            defaultHandler="org.eclipse.e4.ui.examples.legacy.workbench.ReStyle"
            id="org.eclipse.e4.ui.examples.legacy.workbench.reStyle"
            name="ReStyle">
      </command>
      <category
            description="Commands contributed by e4"
            id="org.eclipse.e4.ui.category"
            name="e4 Commands">
      </category>
      <command
            categoryId="org.eclipse.e4.ui.category"
            defaultHandler="org.eclipse.e4.ui.examples.legacy.workbench.GeneratePsfHandler"
            id="org.eclipse.e4.ui.examples.generatePsfProject"
            name="Generate e4 Example Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="org.eclipse.e4.samples"
               label="e4"
               mnemonic="4">
            <command
                  commandId="org.eclipse.e4.ui.examples.generatePsfProject"
                  mnemonic="G"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.e4.ui.examples.legacy.workbench.reStyle"
                  label="Reload Style Sheet"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
