<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.e4.ui.examples.legacy.workbench.TestPerspectiveFactory"
            id="org.eclipse.e4.ui.examples.legacy.workbench.perspective"
            name="Legacy Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Legacy Workbench">
         <property
               name="appName"
               value="Legacy Workbench">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.e4.ui.examples.legacy.workbench/css/xp-silver-legacy.css">
         </property>
      </product>
   </extension>

</plugin>
