<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <snippet
            uri="xmi/contextViewMenu.e4xmi">
      </snippet>
      <fragment
            uri="xmi/fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.e4.demo.simpleide.menu.selection.Entry">
         <with
               variable="output.selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.e4.demo.simpleide.menu.ContextMenuView$Entry">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
