<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.internalTweaklets">
      <tweaklet
            definition="org.eclipse.ui.internal.tweaklets.GrabFocus"
            description="Prevent a view from grabbing focus from the background."
            id="org.eclipse.ui.tweaklets.grabfocus.notify"
            implementation="org.eclipse.ui.tweaklets.grabfocus.PreventGrabFocus"
            name="Prevent Grab Focus">
      </tweaklet>
   </extension>

</plugin>
