<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <actionSet
               id="org.eclipse.ui.WorkingSetActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.WorkingSetModificationActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
