<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/05/15 09:07:19 tschindl Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/e4/demo/simpleide"
            class="org.eclipse.e4.demo.simpleide.editor.model.simpleide.SimpleidePackage"
            genModel="model/SimpleIDE.genmodel"/>
   </extension>

</plugin>
