ETabFolder {
	font: Tahoma 8px;
	color: black;
	background-color: rgb(246, 246, 251);
	font: normal;
	simple: true;
	maximize-visible: true;
	minimize-visible: true;
	tab-height: 40px;
}

ETabFolder:selected {
	background-color: rgb(255, 255, 255) rgb(246, 245, 250); 
}

ETabFolder.active {
	background-color: rgb(246, 246, 251);
}

ETabFolder.active:selected {
	background-color: rgb(255, 255, 255) rgb(255, 247, 229); 
}

Text {
	font: "Courier-New" 10px;
}      

ToolBar {
	background-color: rgb(246, 246, 251);
}

.active ToolBar {
	background-color: rgb(224, 223, 227);
}

Label {
	background-color: rgb(224, 223, 227);
}