ETabFolder {
	color: black;
	background-color: rgb(246, 246, 251);
	font: normal;
	simple: true;
	maximize-visible: true;
	minimize-visible: true;
	webbyStyle: true;
	margin: 3;
}

ETabFolder:selected {
	background-color: rgb(255, 255, 255) rgb(246, 245, 250); 
}

ETabFolder.active {
	background-color: rgb(246, 246, 251);
}

ETabFolder.active:selected {
	background-color: rgb(255, 255, 255) rgb(255, 247, 229); 
}
  
Composite {
	background-color: rgb(241, 240, 245); 
}

ToolBar {
	background-color: rgb(246, 246, 251);
}


Label {
	background-color: rgb(246, 246, 251);
}