ETabFolder {
	background-color: rgb(246, 246, 251);
	simple: true;
	maximize-visible: false;
	minimize-visible: false;
	webby-style: true;
	margin: 3px;
	tab-area-keyline-color: rgb(201, 200, 204);
	body-keyline-color: rgb(201, 200, 204);
	tab-keyline-color: rgb(208, 207, 212);
}

ETabFolder.active {
	background-color: rgb(224, 226, 235);
}
   
ETabItem {
	color: black;
	background-color: rgb(241, 240, 245);
	font: normal;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 0px;
}

ETabItem:selected {
	background-color: rgb(255, 255, 255) rgb(246, 245, 250); 
	padding-top: 7px;
}

ETabItem.active {
	background-color: rgb(241, 240, 245);
}

ETabItem.active:selected {
	background-color: rgb(255, 255, 255) rgb(255, 247, 229); 
}

.perspectiveLayout, .marginWrapper {
	background-color: rgb(241, 240, 245); 
}

ToolBar.inactive {
	background-color: rgb(246, 246, 251);
}

ToolBar.active {
	background-color: rgb(224, 226, 235);
}

SashForm {
	background-color: rgb(241, 240, 245); 

Label {
	background-color: rgb(246, 246, 251);
}