ETabFolder {
	background-color: rgb(246, 246, 251);
	simple: true;
	maximize-visible: false;
	minimize-visible: false;
	webbyStyle: true;
	margin: 3px;
}

ETabItem {
	color: black;
	background-color: rgb(246, 246, 251);
	font: normal;
}

ETabItem:selected {
	background-color: rgb(255, 255, 255) rgb(246, 245, 250); 
}

ETabItem.active {
	background-color: rgb(224, 226, 235);
}

ETabItem.active:selected {
	background-color: rgb(255, 255, 255) rgb(255, 247, 229); 
}

.perspectiveLayout, .marginWrapper {
	background-color: rgb(241, 240, 245); 
}

ToolBar.inactive {
	background-color: rgb(246, 246, 251);
}

ToolBar.active {
	background-color: rgb(224, 226, 235);
}

SashForm {
	background-color: rgb(241, 240, 245); 

Label {
	background-color: rgb(246, 246, 251);
}