CTabFolder {
	font: Tahoma 8px;
	color: black;
	background-color: rgb(224, 223, 227);
	font: normal;
	simple: false;
	maximize-visible: true;
	minimize-visible: true;
	tab-height: 30;
}

CTabFolder:selected {
	background-color: rgb(254, 254, 254) rgb(224, 223, 227);
}

CTabFolder.active {
	background-color: rgb(224, 223, 227);
}

CTabFolder.active:selected {
	background-color: rgb(237, 237, 237) rgb(192, 192, 192);
	font: bold;
}

Text {
	font: "Courier-New" 10px;
}      