<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.pde.internal.ui.BrowserSiteEditor"
            default="false"
            icon="icons/obj16/site_xml_obj.gif"
            id="org.eclipse.e4.pde.ui.siteEditor"
            name="Site Manifest Editor (web ui-based)">
         <contentTypeBinding contentTypeId="org.eclipse.pde.siteManifest"/>
      </editor>
   </extension>

</plugin>
